<section>
    <div class="grid lg:grid-cols-2 grid-cols-1 font-serif gap-10 p-3">
        <div class="lg:ms-[8%] mt-20">
            <span class="lg:text-6xl text-5xl font-bold text-orange-700">FAST</span>
            <span>Food</span>
            <span>Delivery</span>
            <p class="mt-5">Indulge in a culinary journey from the comfort of your home! Our food delivery service brings a symphony of flavors to your doorstep. From mouthwatering burgers to delectable desserts, let your taste buds explore the extraordinary. Convenience meets culinary delight – order now and elevate your dining experience. 🍽️✨ #FoodDelivery #EpicFlavors #HomeDining.</p>
            <div class="flex lg:gap-20 gap-x-12 mt-5">
                <p class="bg-black rounded-full p-2 text-white text-sm w-[40%] lg:w-[20%] text-center hover:bg-blue-700 cursor-pointer">ORDER NOW</p>
                <p class="bg-orange-700 p-2 rounded-full text-white text-sm w-[50%] lg:w-[20%] text-center hover:bg-blue-700 cursor-pointer">BOOK A TABLE</p>
            </div>
        </div>
        <div>
            <img src="../../assets/image/burger2.webp" class="rounded-lg mt-[10%]"  alt="">
        </div>
    </div>
</section>