<section>
   
        <div class="grid lg:grid-cols-5 bg-black p-10 gap-5 font-serif text-white  grid-cols-1">
            <div>
                <p class="text-2xl font-bold my-5">CAPTAINFOOD</p> <br>
                <p class="hover:underline my-3"><a href="">Contact</a></p> 
               <p class="hover:underline my-3"><a href="abdullahisamsudeen@gmail.com">abdullahisamsudeengmail.com</a></p>
               <a class="hover:underline my-3" href="">+2348165432345</a>
            </div>
            <div>
                <p class="text-md font-bold my-5">Company</p>
                <p class="hover:underline my-3">  <a href="">Careers</a></p>
                <p class="hover:underline my-3"> <a href="">FAQs</a></p>
                <p class="hover:underlin my-3e"><a href="">User Policy</a></p>
                <p class="hover:underline my-3"><a href="">Support</a></p>
            </div>
            <div>
                <p class="text-md font-bold my-5">Locations</p>
               <p class="hover:underline my-3"><a href="">Lekki</a></p>
                <p class="hover:underline my-3"> <a href="">Ikoyi</a></p>
                <p class="hover:underline my-3"><a href="">Victoria Island</a></p>
                <p class="hover:underline my-3"><a href="">Marina</a></p>
            </div>


            <div>
                <h1 class="text-center lg:ms-[-30%] ms-[-65%] text-md my-5 font-bold">Restaurants</h1>
                <div class="grid lg:grid-cols-2 grid-cols-1">
                    <div class="cursor-pointer lg:ms-[-30%]">
                        <p class="hover:underline my-3"><a href="">Wing kings</a></p>
                        <p class="hover:underline my-3"><a href="">Jollof & Co</a></p>
                        <p class="hover:underline my-3"><a href="">Sweet Treats</a></p>
                        <p class="hover:underline my-3"><a href="">Sunny Side Club</a></p>
                        <p class="hover:underline my-3"><a href="">Mama’s Kitchen</a></p>
                        <p class="hover:underline my-3"><a href="">Frankies</a></p>
                        <p class="hover:underline my-3"><a href="">CHōW Asian</a></p>
                        <p class="hover:underline my-3"><a href="">Wrap City</a></p>
                    </div>
                    
                    <div>
                        <p class="hover:underline my-3"><a href="">Green Gourmet</a></p>
                        <p class="hover:underline my-3"><a href="">Suya Central</a></p>
                        <p class="hover:underline my-3"><a href="">Pastry Corner</a></p>
                        <p class="hover:underline my-3"><a href="">Fresh Press</a></p>
                        <p class="hover:underline my-3"><a href="">Lagos feast Club</a></p>
                        <p class="hover:underline my-3"><a href="">The Night Train</a></p>
                        <p class="hover:underline my-3"><a href="">Red Pepper</a></p>
                        <p class="hover:underline my-3"><a href="">FC Shop</a></p>
                    </div>
                </div>
            </div>
            <div class="">
                <h1 class="lg:text-center text-md font-bold my-5">Socials</h1>
                <div class="flex lg:ms-10 gap-3">
                    <p class="hover:underline my-3 lg:ms-5"><a href="">  <img src="../../assets/image/face.png" class="rounded-lg" width="20"  alt=""></a></p>
                    <p class="hover:underline my-3"><a href="">  <img src="../../assets/image/ista.png" class="rounded-lg" width="20"  alt=""></a></p>
                    <p class="hover:underline my-3"><a href="">  <img src="../../assets/image/twi.png" class="rounded-lg" width="20"  alt=""></a></p>
                    <p class="hover:underline my-3"><a href="">  <img src="../../assets/image/lik (1).png" class="rounded-lg" width="20"  alt=""></a></p>

                </div>
            </div>
        </div>

</section>
